<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Ami Coding Pari Na</title>
  </head>
  <body>


    <div class="container">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
               <!--Login from-->
                <br><br>
                <h1>Login</h1>
                <br><br>
               <form action="" method="POST">
                  {% csrf_token %}
                <div class="form-group row">
                  <label for="InputValues" class="col-sm-2 col-form-label">Input Values:</label>
                  <div class="col-sm-10">
                    <input type="text" name="inputValues" class="form-control" id="InputValues" placeholder="InputValues">
                  </div>
                </div>

                 <div class="form-group row">
                  <label for="SearchValues" class="col-sm-2 col-form-label">Search Values:</label>
                  <div class="col-sm-10">
                    <input type="text" name="searchValues"  class="form-control" id="SearchValues" placeholder="SearchValues">
                  </div>
                </div>

                 <button type="submit" class="btn btn-default">khoj</button>
              </form>
              <br><br>
              <h2>Result: {{data}}</h2>

            <div class="col-2">
            </div>
          </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
